#!/usr/bin/env bash
export PROJECT="the_sea_nation"
export PATH="$PATH:scripts"

set -a
for file in .[^.]*.env; do
  if [ -f $file ]; then
    source $file
  fi
done
set +a

layout virtualenvwrapper $PROJECT
